:root{
    text-align: center;
    list-style-position: inside;
}

.body{
    background-image: url('/img4.jpg');
    background-size: 20%;
    background-repeat: repeat;
    
}


#icon{
    font-size: larger;
    font-style: italic;
    margin-left: 40px;
    margin-top: 20px;
    color:darkslateblue;
    margin-left: 700px;
    margin-right: 700px;
    background-color:bisque;
    
}



.header1{
    color:yellowgreen;
    margin-left: 800px;
    margin-right: 800px;
    background-color:blueviolet;
    
}

.header2{
    color: deeppink;
    margin-left: 800px;
    margin-right: 800px;
    background-color: blanchedalmond;
   
    
}

.shrekpic{
        width: 500px;
        height: 500px;
}

.vid1{
    width: 500px;
    height: 500px;
    
    
}

#name{
    color:darkblue;
    font-size: larger;
    font-weight: bolder;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-left: 800px;
    margin-right: 800px;
    background-color: blanchedalmond;
}

#age{
    color:fuchsia;
    font-size: larger;
    font-style: oblique;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin-left: 800px;
    margin-right: 800px;
    background-color:midnightblue;
}

#from{
    color:chartreuse;
    font-size: larger;
    font-weight: bolder;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;  
    margin-left: 800px;
    margin-right: 800px;
    background-color:chocolate;
}
#do{
    color:aqua;
    font-size: larger;
    font-weight: bolder;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;  
    margin-left: 800px;
    margin-right: 800px;
    background-color:darkblue;
}



.table {
    margin-left: auto;
    margin-right: auto;
}
.button :hover{
        opacity: 0.8;
}

.button1{
    background-color: red;
    font-style: italic;
    color: solid black;
    
}

.button2{
    background-color: hotpink;
    font-style: italic;
    color: solid black;
}

.button3{
    background-color: greenyellow;
    font-style: italic;
    color: solid black;
}

.button4{
    background-color: blueviolet;
    font-style: italic;
    color: solid black;
}

.social{
    background-color: aqua;
    margin-left: 900px;
    margin-right: 900px;
    
}

#instagram:hover{
    opacity: 0.7;
}
#instagram{
    font-size: xx-large;
    color: black;
    opacity: 1;
}

#facebook:hover{
    opacity: 0.7;
}

#facebook{
    font-size: xx-large;
    color: black;
    opacity: 1;
}

#linkedin:hover{
    opacity: 0.7;
}

#linkedin{
    font-size: xx-large;
    color: black;
    opacity: 1;
}


.profpic{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    text-align: center;
    
}